
.azeret-mono {
  font-family: "Azeret Mono";
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


.banner-header{
    display: flex;
    justify-content: space-between;
    margin:20px 80px;
    font-family: monospace;
    
}
.header-button button{
    background-color: white;
    border: 1px solid black;
    border-radius:5px ;
    padding: 10px 10px;
    margin-top: 15px;

}
.banner-avatar img{
    width: 100px;
    margin-top: 15px;
}
.contact-button button{
    padding: 10px;
    margin-bottom: 25px;
    font-family: monospace;
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
}
.header-heading p{
    font-family: monospace;
    text-align: center;
    font-size: 16px;
}

.header-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/Hero-bg.png');
    background-size: 50%;
}
/* Main body section */
.main-container{
    background-color: rgba(13, 19, 33, 0.02);
    margin-top: 100px;
    margin: 80px;
    
}
.main-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:70%;
    margin: 0 auto;
}
.main-section1{
    display: flex;
    justify-content: space-between;
    width:70%;
    margin: 0 auto;
    margin-top: 100px;
}
.section1-text h1{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.section1-text p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}
.development-button button{
    padding: 10px 20px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    text-align: center;
}
.main-section2{
    display: flex;
    justify-content: space-between;
    width:70%;
    margin: 0 auto;
    margin-top: 100px;
}

.section2-text h1{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    text-align: left;
}
.section2-text p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    text-align: left;
}
.main-section3{
    display: flex;
    justify-content: space-between;
    width:70%;
    margin: 0 auto;
    margin-top: 100px;
}
.section3-text h1{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    text-align: left;
}
.section3-text p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    text-align: left;
}
/* Inpiration Part  */
.inspiration{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inspiration-text{
    text-align: center;
    margin-bottom: 50px;
    width: 70%;
}
.inspiration-text h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    text-align: center;
}
.inspiration-text p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    text-align: center;
}
.inspiration-iframe iframe{
    overflow: hidden;
    border-radius: 30px;
}
/* Target  */
.target{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:70%;
    margin: 0 auto;
    text-align: center;
    margin-top: 150px;
}
.target h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    text-align: center;
}
.target p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    text-align: center;
}

.target-section{
    display: flex;
    justify-content: space-between;
    gap:20px;
    width:70%;
    margin: 0 auto;
    margin-left: 240px;
    margin-top: 80px;
}
.target-sec1{
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    padding: 10px 10px;
}
.target-sec2{
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    padding: 10px 10px;
}
.target-sec3{
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
    padding: 10px 10px;
}
.target-sec1-text h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    text-align: left;
}
.target-sec1-text p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    text-align: left;
}
.target-sec1-text a{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    text-align: left;
    
}
.target-sec2-text h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    text-align: left;
}
.target-sec2-text p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    text-align: left;
}
.target-sec2-text a{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    text-align: left;
    
}
.target-sec3-text h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    text-align: left;
}
.target-sec3-text p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    text-align: left;
}
.target-sec3-text a{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    text-align: left;
}

/* footer */
.support{
    background-image: url("../assets/handshake.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:300px;
    width:80%;
    margin: 0 auto;
    margin-top: 100px;
}
.support-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.support-text h1{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    text-align: center;
}
.support-text p{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    text-align: center;
}
.support-footer{
    text-align: center;
}
.support-footer input{
    height:40px;
    width:450px;
    font-size: 15px;
    border-radius: 5px;
}
.support-footer button{
    color: black;
    background-color: #FFFFFF;
    font-family: Azeret Mono;
    padding: 12px 20px;
    font-size: 15px;
    border-radius: 5px;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    width:80%;
    margin:0 auto;
    margin-top: 10px;
}
.footer-bottom-right img{
    margin-right: 10px;
}
