/* google fonts here  */
.azeret-mono-normal{
    font-family: "azeret mono";
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
/* nav elements  */
.nav-header{
    display: flex;
    justify-content:space-between;
    margin:20px 70px;
    font-family:"azeret mono";
}
.nav-header-button{
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
    border-radius:5px ;
    padding: 10px 10px;
    margin-top: 15px;
    font-family: "azeret mono";
}
/* header section  */

.banner-avatar img{
    width: 100px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.banner-header{
    text-align: center;
    display: flex;
    justify-content: center;
    max-width: 852px;
    padding: 10px 10px;
    margin-top: 5px;
}
.banner-description{
    display: flex;
    justify-content: center;
    font-family: "azeret mono";
    text-align: center;
    margin-bottom: 50px;
    margin: 5px 5px;
    width: 70%;
}
.header-heading p{
    max-width: 852px;
    margin-top: 5px;
    font-family: "azeret mono";
    padding: 70px;
    text-align: center;
    font-size: 16px;
}
.contact-button button{
    padding: 10px;
    margin-bottom: 25px;
    font-family: "azeret mono";
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.header-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    background-image: url('../assets/Hero-bg.png');
    background-repeat:no-repeat;
    background-position: center;
    margin-bottom: 80px;
    
    
}
/* Main body section */
.main-container{
    background-color: rgba(13, 19, 33, 0.02);
    margin: 100px;
    max-width: 852px;
    padding: 40px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.main-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 946px;
    width: 852px;
    margin: 0 auto;
}
.main-description{
    font-family: "azeret mono";
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
    
}
.main-section1{
    display: flex;
    justify-content: space-between;
    width:70%;
    margin: 0 auto;
    margin-top: 50px;
    width: 852px;
}
.section1-text h1{
    color: rgba(13, 19, 33, 0.7);
    font-family: "azeret mono";
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.section1-text p{
    color: rgb(13, 19, 33);
    font-family: "azeret mono";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}
.development-button button{
    padding: 10px 20px;
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono";
    font-size: 20px;
    text-align: center;
}
.main-section2{
    display: flex;
    justify-content: space-between;
    width:70%;
    margin: 0 auto;
    margin-top: 50px;
    width: 852px;
}

.section2-text h1{
    color: rgba(13, 19, 33, 0.7);
    font-family: "Azeret Mono";
    font-size: 24px;
    text-align: left;
}
.section2-text p{
    color: rgb(13, 19, 33);
    font-family: "azeret mono";
    font-size: 16px;
    text-align: left;
}
.main-section3{
    display: flex;
    justify-content: space-between;
    width:70%;
    margin: 0 auto;
    margin-top: 50px;
    width: 852px;
}
.section3-text h1{
    color: rgba(13, 19, 33, 0.7);
    font-family: "azeret mono";
    font-size: 24px;
    text-align: left;
}
.section3-text p{
    color: rgb(13, 19, 33);
    font-family: "azeret mono";
    font-size: 16px;
    text-align: left;
}
/* Inpiration Part  */
.inspiration{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.inspiration-text{
    text-align: center;
    margin-bottom: 50px;
    width: 852px;
}
.inspiration-text h1{
    color: rgb(13, 19, 33);
    font-family: "azeret mono";
    font-size: 32px;
    text-align: center;
}
.inspiration-text p{
    color: rgb(13, 19, 33);
    font-family: "azeret mono";
    font-size: 16px;
    text-align: center;
}
.inspiration-iframe iframe{
    overflow: hidden;
    border-radius: 15px;
    width: 852px;
    height: 450px;
}
/* Target  */
.target{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:70%;
    text-align: center;
    margin-top: 150px;
    margin: 0 auto;

    
}
.target h1{
    color: rgb(13, 19, 33);
    font-family: "azeret mono";
    font-size: 32px;
    text-align: center;
    
}
.target p{
    color: rgb(13, 19, 33);
    font-family: "azeret mono";
    font-size: 16px;
    text-align: center;
    max-width: 852px;
}

.target-section{
    display: flex;
    justify-content: space-between;
    gap:20px;
    width:70%;
    margin: 0 auto;
    margin-top: 30px; 
    max-width: 852px;
}
.target-sec1{
    border-radius: 15px;
    background: rgba(255, 76, 30, 0.05);
    padding: 10px 10px;
}
.target-sec2{
    border-radius: 15px;
    background: rgba(0, 76, 232, 0.05);
    padding: 10px 10px;
    
}
.target-sec3{
    border-radius: 15px;
    background: rgba(255, 223, 0, 0.05);
    padding: 10px 10px;
}
.target-sec1-text h1{
    color: rgb(13, 19, 33);
    font-family: "azeret mono";
    font-size: 22px;
    text-align: left;
}
.target-sec1-text p{
    color: rgb(13, 19, 33);
    font-family: "azeret mono";
    font-size: 15px;
    text-align: left;
}
.target-sec1-text a{
    color: rgb(13, 19, 33);
    font-family: "azeret mono";
    font-size: 15px;
    text-align: left;
    
}
.target-sec2-text h1{
    color: rgb(13, 19, 33);
    font-family: "azeret mono";
    font-size: 22px;
    text-align: left;
}
.target-sec2-text p{
    color: rgb(13, 19, 33);
    font-family: "azeret mono";
    font-size: 15px;
    text-align: left;
}
.target-sec2-text a{
    color: rgb(13, 19, 33);
    font-family: "azeret mono";
    font-size: 15px;
    text-align: left;
    
}
.target-sec3-text h1{
    color: rgb(13, 19, 33);
    font-family: "azeret mono";
    font-size: 22px;
    text-align: left;
}
.target-sec3-text p{
    color: rgb(13, 19, 33);
    font-family: "azeret mono";
    font-size: 15px;
    text-align: left;
}
.target-sec3-text a{
    color: rgb(13, 19, 33);
    font-family: "azeret mono";
    font-size: 15px;
    text-align: left;
}

/* footer */
.support{
    background-image: url("../assets/handshake.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 14px;
    height:310px;
    width:80%;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 852px;
    margin-bottom: 40px;
   
}
.support-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.support-text h1{
    color: rgb(255, 255, 255);
    font-family: "azeret mono";
    font-size: 30px;
    text-align: center;
}
.support-text p{
    color: rgb(255, 255, 255);
    font-family: "azeret mono";
    text-align: center;
    font-size: 15px;

}
.submit-btn{
    cursor: pointer;
}
.support-footer{
    text-align: center;
    
    
}
.support-footer input{
    height:40px;
    width:430px;
    border-radius: 6px;
    font-size: 15px;
    
}
.support-footer button{
    color: black;
    background-color: #FFFFFF;
    font-family: "azeret mono";
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 15px;
}
.footer-bottom{
    background: rgba(13, 19, 33, 0.03);
    display: flex;
    justify-content: space-between;
    margin:0 auto;
    margin-top: 10px;
    border-radius: 15px;
    max-width: 852px;
}

.footer-bottom-right img{
    margin-right: 10px;
    padding: 10px 0px;
}
